/* [ʞ] code.css - code listings
 *  ~ lexi hale <lexi@hale.su>
 *  ? for use with serenity.scss */

code em { color: #e48ad1; }
code .type { color: #FF71DF; font-weight: bold; }
code .pragma { color: #E48AD1; }
code .str { color: #DB99FF; }
code .label { color: #FF6995; font-weight: bold; }
code .comment { color: #E96CB5; font-style: italic; }
