@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

body {
	background: hsl(328,84%,12%);
	color: hsl(328,100%,89%);
	max-width: 30em;
	text-shadow: 0px 0px 30pt hsl(328,35%,61%);
	margin: auto;
	text-align: justify;
	font-family: "GaramondNo8", "EB Garamond", serif;
	font-size: 14pt;
}
:lang(jp) { font-family: "Kochi Mincho", "Hiragino Mincho Pro", "MS Mincho", serif; }
a[href] {
	color: hsl(328,100%,89%)
}
h1 a[href], h3 a[href] {
	text-decoration: none;
	border-bottom: 1px solid #CC77A4;
}
h1 a[href]:hover, h3 a[href]:hover {
	border-bottom: 1px solid #ffc7e5;
}
hr {
	border: none;
	border-bottom: 1px solid #53263E;
	width: 90%;
}

/* browser specific hacks */
body::-webkit-scrollbar { width: 1.3em; }
body::-webkit-scrollbar-track { background: #2A0117; }
body::-webkit-scrollbar-thumb { background: #6B003A; }
body::-webkit-scrollbar-thumb:hover { background: #92004F; }
