// [ʞ] quote.scss → quote.css
//  ~ lexi hale <lexi@hale.su>
//  $ sassc quote.{s,}css
//  © GNU GPLv3

/* src: ./quote.scss */

@import "button.scss";

@mixin deflang($name, $color, $ql: null, $qr: null) {
	q:lang(x-#{$name}) {
		@media screen {
			color: $color;
			&::before, &::after {
				color: darken($color,40);
			}
			#nohl:checked ~ &,
			#nohl:checked ~ * & {
				&::before { content: $ql; }
				&::after  { content: $qr; }
			}
		}
		@media print {
			&::before { content: $ql; }
			&::after  { content: $qr; }
		}
	}
}

q {
	&::before { content: "“"; }
	&::after { content: "”"; }

	@media screen {
		color: hsl(var(--hue), 100%, 70%);

		&::before, &::after {
			color: hsl(var(--hue), 70%, 65%);
		}
		
		#nohl:checked ~ * & {
			&, &::before, &::after {
				color: inherit;
			}
		}

		> dfn { all: unset; }
		> dfn + span { 
			display: none;
			font-style: italic;
		}

		#noen:checked ~ * & {
			em { font-style: normal; }
			> dfn { display:none; }
			> dfn + span { display:inline; }
			&::after, &::before {
				font-style: italic;
			}
		}

	}
}

#nohl, #noen { display: none; }
#ctl {
	position: fixed;
	bottom: 1em; right: 1em;
	&:not(:hover) {
		> * { display: none; }
		&::after {
			content: "···";
			background: hsl(var(--hue), 100%, 20%);
			border-bottom: 1px solid black;
			border-top: 1px solid hsl(var(--hue), 70%, 30%);
			color: white;
			border-radius: 100%;
			padding: 0.2em 0.6em;
		}
	}
}
label[for=nohl] {
	@extend %button;
	text-align: right;
	margin:0.2em;

	&::before { content: "language coding: "; }
	&::after {
		content: "color";
		font-weight: bold;
	}
	#nohl:checked ~ #ctl & {
		&::after { content: "marks"; }
	}
}
label[for=noen] {
	@extend %button;
	text-align: right;
	margin:0.2em;

	&::before { content: "dialogue language: "; }
	&::after {
		content: "english";
		font-weight: bold;
	}
	#noen:checked ~ #ctl & {
		&::after { content: "original"; }
	}
}


@include deflang("zt", hsl(340,100%,80%));
@include deflang("ra", hsl(98, 100%,90%), "«", "»");
@include deflang("th", hsl(311,100%,90%), "[", "]");
@include deflang("kh", hsl(0,    0%,90%));
@include deflang("ka", hsl(23, 100%,75%));

