@charset "UTF-8";
/* bring in a fallback font in case the user doesn't have
 * a garamond on hand */
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
/* currently don't feel like the glow looks good on my site
 * anymore; it's also very un-minimalistic, which goes
 * against my entire ethos. leaving a switch in place in case
 * i change my mind later tho */
/* include code for the endnote mechanism? */
@font-face {
  /* if there's any japanese text in the document,
	 * do what we can to make sure it's not hideous */
  font-family: "mincho";
  unicode-range: u+4e00-9fbf, u+3040-309f, u+30a0-30ff;
  src: local("Kochi Mincho"), local("Hiragino Mincho Pro"), local("Yu Mincho"), local("MS Mincho"); }

:root {
  --hue: 338;
  --width: 30em;
  --bright: 12%; }

::selection {
  background-color: hsl(var(--hue), 100%, 60%);
  color: white; }

body {
  margin-top: 1em;
  padding: 0 1em;
  font-family: mincho, "GaramondNo8", "Garamond Premier Pro", "EB Garamond", serif;
  font-size: 14pt;
  hanging-punctuation: first last force-end;
  text-align: justify;
  /* browser specific hacks */ }
  @media print {
    body {
      --faint-color: #666;
      color: black; } }
  @media screen {
    body {
      --fg-color: hsl(var(--hue),100%,89%);
      --bg-color: hsl(var(--hue),84%,var(--bright));
      --link-color: hsl(var(--hue),100%,83%);
      --hi-color: hsl(var(--hue),100%,95%);
      --faint-color: hsl(var(--hue),64%,64%);
      max-width: var(--width);
      margin: auto;
      margin-top: 1em;
      background: var(--bg-color);
      color: var(--fg-color); } }
  @media screen and (prefer-color-scheme: light) {
    body {
      --fg-color: hsl(var(--hue),100%,19%);
      --bg-color: hsl(var(--hue),84%, calc(100% - var(--bright)));
      --link-color: hsl(var(--hue),100%,23%);
      --hi-color: hsl(var(--hue),100%,5%);
      --faint-color: hsl(var(--hue),84%,25%); } }
  body::-webkit-scrollbar {
    width: 1.3em; }
  body::-webkit-scrollbar-track {
    background: hsl(var(--hue), 96%, 8%); }
  body::-webkit-scrollbar-thumb {
    background: hsl(var(--hue), 100%, 21%); }
    body::-webkit-scrollbar-thumb:hover {
      background: hsl(var(--hue), 100%, 28%); }

p {
  margin: 0.7em 0;
  line-height: 2.8ex; }

@media print {
  a[href] {
    color: black; } }

@media screen {
  a[href] {
    color: var(--link-color);
    text-decoration-color: hsl(var(--hue), 30%, 40%); }
    a[href]:focus {
      outline: none;
      background: var(--link-color);
      color: var(--bg-color); }
    a[href]:hover, a[href]:active {
      color: var(--hi-color) !important;
      text-decoration-color: var(--faint-color) !important;
      background: none !important; } }

ol, ul {
  padding-left: 1.2em;
  list-style: none;
  line-height: 1.4em; }
  ol li, ul li {
    margin-bottom: 0.4em; }
  ol li::before, ul li::before {
    display: inline-block;
    color: hsl(var(--hue), 40%, 60%); }

ul li::before {
  hanging-punctuation: none;
  content: "»";
  width: 0.7em;
  margin-left: -0.7em; }

ol {
  counter-reset: li; }
  ol li::before {
    counter-increment: li;
    content: counter(li);
    width: 1.5em;
    margin-left: -1.9em;
    text-align: right;
    padding-right: 0.4em; }

h1, h2, h3 {
  margin-bottom: 0;
  margin-top: 0;
  text-align: left; }
  @media screen {
    h1 a[href], h2 a[href], h3 a[href] {
      text-decoration: none;
      color: hsl(var(--hue), 50%, 70%); }
      h1 a[href]:hover, h2 a[href]:hover, h3 a[href]:hover {
        text-decoration: underline;
        color: var(--fg-color); } }

h2 {
  line-height: 1.3em;
  margin-bottom: 0.5em; }

.byline {
  margin-left: 1.5em;
  margin-top: -0.5;
  padding: 0em;
  font-style: italic;
  color: var(--faint-color); }

hr {
  border: none;
  border-bottom: 1px solid hsl(var(--hue), 50%, 30%);
  width: 90%; }
  hr[data-dec]::before {
    display: block;
    content: attr(data-dec);
    position: relative;
    letter-spacing: 1em;
    text-align: center;
    top: 0.8em;
    color: hsl(var(--hue), 50%, 40%);
    font-size: 60%; }
  hr[data-dec=""]::before {
    content: "◆"; }

.imgbox {
  margin: 0 calc((20vw - 20%) * -1); }

/* entries in definition lists, numbered footnotes */
.entry {
  margin-left: 1em;
  text-indent: -1em; }

/* links to previous and next chapter */
nav {
  padding-bottom: 1em;
  /* hideous evil clearfix */ }
  @media print {
    nav {
      display: none; } }
  nav::after {
    display: table;
    content: "";
    /* ಠ_ಠ */
    clear: both; }
  nav a[href] {
    --fg-color: hsl(var(--hue), 100%, 80%);
    display: block;
    color: var(--fg-color);
    background-color: hsl(var(--hue), 100%, calc(var(--bright) / 2));
    border: 1px solid var(--fg-color);
    text-decoration: none;
    transition-property: border-color, text-shadow, color, --fg-color;
    transition-duration: 0.2s;
    /* back and forward buttons */ }
    nav a[href]:hover {
      border-color: var(--hi-color);
      --fg-color: var(--hi-color); }
    nav a[href].next::after, nav a[href].prev::before {
      display: inline-block;
      color: var(--bg-color);
      font-weight: bold;
      background-color: var(--fg-color);
      padding: 1.7ex 1.5ex;
      text-shadow: none;
      transition-property: background-color, --fg-color;
      transition-duration: 0.2s; }
    nav a[href].next {
      float: right;
      padding-left: 2ex;
      border-radius: 0 0 0 10px; }
      nav a[href].next::after {
        margin-left: 2ex;
        content: "⮞"; }
    nav a[href].prev {
      float: left;
      padding-right: 2ex;
      border-radius: 0 0 10px 0; }
      nav a[href].prev::before {
        margin-right: 2ex;
        content: "⮜"; }

/* endnote mechanism */
@media screen {
  a.endnote-link[href], a.endnote-link[href]:focus {
    text-decoration: none;
    color: var(--fg-color);
    background-color: hsl(var(--hue), 60%, 25%);
    padding: 0.2em 0.4em;
    /* the following two stanzas are unfortunately
			 * necessary and i don't know why; trying to
			 * incorporate them into one consitently
			 * breaks cross-browser. shruggo */
    --border-color: hsl(var(--hue),80%,8%);
    border: 1px solid var(--border-color); }
  a[href].endnote-link:hover {
    background-color: hsl(var(--hue), 76%, 35%) !important;
    /* i don't know why the hell the !important is
				   needed, and the inspector won't tell me */ }
  .endnote {
    position: fixed;
    bottom: 0.5em;
    display: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: hsl(var(--hue), 61%, 15%);
    --box-shadow-color: hsla(var(--hue),54%,30%,0.7);
    box-shadow: 0 0 40px 0 var(--box-shadow-color);
    padding: .5em 1em;
    /* center the element */
    left: 0;
    right: 0;
    max-width: 30em;
    /* same width as body */
    margin: auto; }
    .endnote:target {
      display: block; }
    .endnote .entry {
      margin-left: 0em;
      text-indent: -0.5em; }
    .endnote .ui {
      /* hover it over the corner of the interface */
      position: absolute;
      top: -1.2em;
      right: -1em;
      background-color: hsl(var(--hue), 51%, 5%);
      border: 1px solid rgba(255, 255, 255, 0.5);
      padding: 0.1em .5em; }
      .endnote .ui a[href] {
        text-decoration: none;
        font-weight: bold; } }

@media print {
  .endnote .ui {
    display: none; }
  a[href].endnote-link {
    text-decoration: none; } }
