body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 100;
	background-color: #f0e5e5;
	margin: 0;
}
#nav {
	text-align: center;
	border-bottom: 1px solid #ccc;
	letter-spacing: .4em;
	background-color: white;
	font-size: 9pt;
	padding: 1em;
	color: #999;
	text-transform: uppercase;
}
a {
	text-decoration: none;
}
#nav a, #nav .selected {
	padding: 1em;
	padding-left: 1.4em;
	color: #999;
	margin: .3em;
	font-weight: normal;
}
#nav .selected {
	background-color: #601a2f;
	color: #e9afc0;
}
#nav a:hover {
	color: #601a2f;
	background-color: #e9afc0;
}
#header {
	background-color: #c88493;
	background-position: center;
	background-repeat: no-repeat;
	height: 250px;
	background-image: url(header.png);
}
#newsheader, #newsfooter {
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
#newsheader {
	margin-top: .3em;
	border-radius: 9px 9px 0px 0px;
	border: 1px solid #ccc;
	border-bottom: none;
	background-color: white;
	font-weight: bold;
	padding: .8em;
}
#newsheader a, #newsfooter a {
	float: right;
	color: #999;
	font-weight: 100;
	letter-spacing: normal;
}
#newsheader a:hover {
	color: #777;
}
#container {
	margin: auto;
	max-width: 768px;
	border-left: 10px;
}
.item {
	text-align: justify;
	border: 1px solid #ccc;
	border-bottom: none;
	padding: 1em .7em;
	padding-bottom: 0;
	background: white;
	color: black;
}
.favorite {
	font-size: 15pt;
	background: url(logo.png) no-repeat;
	background-position: 2px center;
	padding-left: 36px;
}
.redacted {
	background-color: black;
	padding: 2px 6px;
	letter-spacing: .2em;
	font-size: 9pt;
	color: white;
}
#newsfooter {
	margin-bottom: .3em;
	margin-top: 0;
	border-radius: 0px 0px 9px 9px;
	border: 1px solid #ccc;
	background-color: white;
	padding: .8em;
	text-align: right;
	color: #aaa;
	letter-spacing: .4em;
}
.time {
	text-align: right;
	font-size: 9pt;
	color: #999;
	font-weight: normal;
	padding: .5em;
}
@media not all and (min-width:768px) {
	#newsheader, #newsfooter {
		border:none;
		border-radius:0;
		background: none;
	}
	.item {
		border-left: none;
		border-right: none;
	}
}
@media not all and (min-width:570px) {
	#header {
		height: 290px;
		background-image: url(biglogo.png);
	}
	.item {
		text-align: left;
	}
	#newsfooter {
		border-top: 1px solid #ccc;
	}
	.hide_mobile {
		display:none;
	}
}
@media not all and (min-width:450px) {
	body {
		font-size: 10pt;
	}
	.favorite {
		background: none;
		font-size: 13pt;
		padding-left: 0px;
	}
}
.warning {
	margin-top: 1em;
	text-align: center;
	background-color: #9d5c70;
	color: #e9afc0;
	padding: .3em;
	font-size: 10pt;
}
h1 {
	text-align: center;
	color: #601a2f;
	letter-spacing: .3em;
	font-size: 9pt;
	border-bottom: 1px solid #601a2f;
	font-weight: 100;
	text-transform: uppercase;
}
p {
	text-align: justify;
	font-size: 11pt;
	font-weight: 100;
}
.headline {
	font-size: 18pt;
	font-weight: 100;
	margin-top: .8em;
	text-align: justify;
}
.byline {
	font-style: italic;
	font-size: 10pt;
	color: #79394c;
	padding-bottom: .4em;
	border-bottom: 1px solid #79394c;
}
